<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Layout</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <aside id="menu" class="sidebar">
        <a href="/">
            <img src="../images/logo-franckinator.png" alt="Logo Franckinator" style="width: 50%; display: block; margin: 0 auto; margin-top: -15%; margin-bottom: 15%;"> 
        </a> 
        <nav>
            <a href="/clustering" class="block p-2.5 text-white transition duration-200 rounded hover:bg-gray-700"><i class="fas fa-chart-pie"></i> Clusterings</a>
            <a href="#" class="block p-2.5 text-white transition duration-200 rounded hover:bg-gray-700"><i class="fas fa-history"></i> Historique</a>
            <a href="#" class="block p-2.5 text-white transition duration-200 rounded hover:bg-gray-700"><i class="fas fa-question-circle"></i> Aide</a>
        </nav>
    </aside>

    <div class="content">
        {% block content %}
        <!-- Le contenu spécifique à chaque page sera injecté ici -->
        {% endblock %}
    </div>
</body>
</html>
