{% extends "base.html" %}

{% block content %}
    <div class="content">
        <div class="title-container">
            <h1>Outil de Clustering</h1>
        </div>    
        <form action="/search_volume" method="post" class="form">
            <div class="form-group">
                <label for="keywords">Mot-clés (1 mot-clé par ligne) :</label>
                <textarea id="keywords" name="keywords" rows="4" cols="75" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="location_code">Langues :</label>
                <select name="location_code" id="location" class="form-control">
                    {% for location in locations %}
                        <option value="{{ location['location_code'] }}" {% if location['location_name'] == "France" %}selected{% endif %}>{{ location['location_name'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="top_results">Nombre de résultats :</label>
                <input type="number" id="top_results" name="max_crawl_pages" value="10" min="1" max="20" step="1" class="form-control">
            </div>
            <div class="form-group">
            <label for="similarity_threshold">Pourcentage de similarité :</label>
            <input type="number" id="similarity_threshold" name="similarity_threshold" min="0" max="100" step="5" value="50" class="form-control">
            </div>
            <div class="form-group bouton-form">
                <input type="submit" value="Analyser" class="btn">
            </div>
        </form>
    </div>
{% endblock %}
