<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultats de Clustering</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <aside id="menu" class="sidebar">
        <nav>
            <a href="/clustering" class="block p-2.5 text-white transition duration-200 rounded hover:bg-gray-700"><i
                    class="fas fa-chart-pie"></i> Clusterings</a>
            <a href="/historique" class="block p-2.5 text-white transition duration-200 rounded hover:bg-gray-700"><i
                    class="fas fa-history"></i> Historique</a>
            <a href="#" class="block p-2.5 text-white transition duration-200 rounded hover:bg-gray-700"><i
                    class="fas fa-question-circle"></i> Aide</a>
        </nav>
    </aside>

    <div class="content">
        <div class="header-container">
            <h1 class="title">Historique des Clusters</h1>
            <div class="button-container">
                <a href="/export_csv" class="export-btn">Exporter en CSV</a>
            </div>
        </div>
        {% for cluster in clusters %}
        <div class="table-box full-width-table">
            <p>Cluster {{ loop.index }} : {{ cluster.name.capitalize() }}</p>
            <table>
                <thead>
                    <tr>
                        <th colspan="3">Mot-clé</th>
                        <th>Volume</th>
                        <th>% Similarité</th>
                    </tr>
                </thead>
                <tbody>
                    {% for keyword_data in cluster.keywords %}
                    <tr>
                        <td colspan="3">{{ keyword_data.keyword }}</td>
                        <td>{{ keyword_data.volume }}</td>
                        <td>
                            {% if keyword_data.similarity is defined %}
                                {{ keyword_data.similarity * 100 | round(2) }} %
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>                
                <tfoot>
                    <tr class="total-row">
                        <td colspan="4">Total</td>
                        <td>{{ cluster.total_volume }}</td>
                    </tr>
                </tfoot>
            </table>
            <div class="center-button">
                <a href="/resultat/detail/{{ loop.index0 }}" style="text-decoration: none; display: block;
                color: #fff;
                background-color: #546E7A;
                padding: 10px;
                margin-top: 5%;
                border-radius: 5px;
                font-size: 16px;
                text-align: center;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s ease;" class="button-link">Voir Détail</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>

